/* reset */
html {
    /* fix line height in all browsers */
    line-height: 1.15;
    /* prevent adjustments of font size after orientation changes in iOS */
    -webkit-text-size-adjust: 100%;
}

body {
    /* remove margin in all browsers */
    margin: 0;
}

hr {
    /* fix height in Firefox */
    height: 0;
    /* fix inheritance of border color in Firefox */
    color: inherit;
}

abbr[title] {
    /* fix text decoration in Chrome, Edge, Safari. */
    text-decoration: underline dotted;
}

b,
strong {
    /* fix font weight in Edge and Safari */
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    /* improve consistency of default fonts in all browsers */
    font-family: monospace;
    /* correct the odd 'em' font sizing in all browsers */
    font-size: 1em;
}

small {
    /* fix font size in all browsers */
    font-size: 80%;
}

/* prevent sub and sup from affecting the line height in all browsers */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    /* remove text indentation from table contents in Chrome and Safari */
    text-indent: 0;
    /* fix table border color inheritance in Chrome and Safari */
    border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    /* fix font styles in all browsers */
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    /* remove margin in Firefox and Safari */
    margin: 0;
}

button,
select {
    /* remove inheritance of text transform in Edge and Firefox */
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    /* fix inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;
}

/* remove inner border and padding in Firefox */
::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    /* restore focus styles unset by the previous rule */
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    /* remove additional ':invalid' styles in Firefox */
    box-shadow: none;
}

progress {
    /* fix vertical alignment in Chrome and Firefox */
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    /* fix cursor style of increment and decrement buttons in Safari */
    height: auto;
}

[type='search'] {
    /* fix appearance in Chrome and Safari */
    -webkit-appearance: textfield;
    /* fix outline in Safari */
    outline-offset: -2px;
}

::-webkit-search-decoration {
    /* remove inner padding in Chrome and Safari on macOS */
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    /* fix inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;
    /* change font properties to 'inherit' in Safari. */
    font: inherit;
}

summary {
    /* fix display in Chrome and Safari */
    display: list-item;
}

/* general */
:root {
    --serif-font: 'EB Garamond', serif;
    --link-color: #1175e2;
    --ascent-color: #006cdf;
    --grey-1-color: #353535;
    --grey-2-color: #646464;
    --grey-3-color: #8d8d8d;
    --grey-4-color: #bfbfbf;
    --grey-5-color: #f2f2f2;
    --highlight-color: rgba(255, 0, 0, 0.075);
}

/* dark mode
 * create and/or override colors */
@media (prefers-color-scheme: dark) {
    :root {
        --dark-mode-color: #212529;
        --link-color: #3395ff;
        --grey-5-color: #484848;
        --grey-3-color: #bdbdbd;
        --grey-2-color: #888;
    }
}

html,
body {
    font-family: var(--serif-font);
    font-size: 20px;
    line-height: 1.5;
}
@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background: var(--dark-mode-color);
    }
}

p {
    margin: 16px 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 38px;
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    margin-bottom: 0;
}

main {
    max-width: 664px;
    margin: 0 auto 64px;
}
@media (max-width: 664px) {
    main {
        padding: 0 8px;
    }
}

nav {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid var(--grey-4-color);
    border-bottom: 1px solid var(--grey-4-color);
    padding-top: 8px;
    padding-bottom: 8px;
}

nav a {
    margin-left: 4px;
    margin-right: 4px;
}

ul,
ol {
    padding-left: 20px;
}

article {
    margin-top: 32px;
}

img {
    width: 100%;
}

aside {
    border: 3px dashed var(--grey-3-color);
    text-align: center;
    padding: 32px 0;
}

form {
    margin: 16px 0;
}

label {
    display: block;
    margin-top: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        color: #fff;
        background: var(--grey-1-color);
        border: 2px solid var(--grey-2-color);
    }
}

input[type="submit"] {
    display: block;
    border: 0;
    padding: 6px 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    box-shadow: 8px 8px #000;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    textarea {
        color: #fff;
        background: var(--grey-1-color);
        border: 2px solid var(--grey-2-color);
    }
}

time {
    color: var(--grey-3-color);
}

code {
    font-size: 16px;
    background: var(--grey-5-color);
}

pre {
    background: var(--grey-5-color);
    overflow: scroll;
}

blockquote {
    border-left: 12px solid var(--grey-5-color);
    padding-left: 16px;
    margin-left: 0;
}

.logo {
    width: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.logo a {
    opacity: 0.8;
}

.logo a:hover {
    opacity: 1;
}

.title {
    text-align: center;
    font-variant: small-caps;
    color: var(--grey-3-color);
}

.title:hover {
    text-decoration: none;
}

.title h1 {
    font-size: 48px;
    margin: 16px 0 0;
    line-height: 1.5;
}

.title div {
    font-size: 48px;
    margin: 16px 0 0;
}

.subtitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--grey-2-color);
}

.subsubtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
    color: var(--grey-3-color);
}

.landing-members-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin-top: 16px;
}
@media(max-width: 500px) {
    .landing-members-grid {
        grid-template-columns: 1fr;
    }
}

.landing-members-grid a {
    display: flex;
    align-items: center;
}

.landing-members-grid a:hover {
    text-decoration: none;
    background: var(--highlight-color);
}

.landing-members-grid img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 8px;
}

.events {
    list-style-type: none;
    padding-left: 0;
}

.events li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.events li:nth-child(odd) {
    background: var(--highlight-color);
}

.events time {
    font-family: monospace;
    font-size: 16px;
    color: #000;
    background: transparent;
}

.blogpost h1 {
    margin: 32px 0 0;
}

@media (max-width: 664px) {
    .blogpost-date {
        margin-top: 16px;
    }
}

.workshop h1 {
    margin: 32px 0 0;
}

.workshop-datetime {
    display: inline-block;
    background: var(--highlight-color);
    margin-top: 8px;
}

.avatar > img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 16px;
}

.avatar-remove {
    background: var(--highlight-color);
}

.profile-grid-avatar {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 16px;
}

.profile-grid {
    display: grid;
    grid-template-columns: 200px auto;
}
@media(max-width: 500px) {
    .profile-grid {
        grid-template-columns: auto;
    }
}

@media(max-width: 500px) {
    .profile-grid a {
        text-align: center;
    }
}

.profile-grid-text {
    padding-left: 32px;
    padding-top: 60px;
}
@media(max-width: 500px) {
    .profile-grid-text {
        padding: 0;
    }
}
