{% extends 'main/layout.html' %}

{% block content %}

<section>
    {% for post in post_list %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <h2 itemprop="name headline">
            <a href="{% url 'post' post.slug %}">
                {{ post.title }}
            </a>
        </h2>

        <time datetime="{{ post.published_at|date:'Y-m-d' }}" itemprop="datePublished">
            {{ post.published_at|date:'F j, Y' }}
        </time>

    </article>
    {% empty %}
    <em>nothing published yet</em>
    {% endfor %}
</section>

{% endblock %}
