{% extends 'main/layout.html' %}

{% block content %}
<article>
    <h1>Code of Conduct</h1>

    <blockquote>
        <em>
            But then one day, I was driving my little boy to school and I saw
            this quote by Walt Whitman and it was painted on the wall there.
            It said, “Be curious, not judgmental”. I like that.
        </em>
        <br> — Ted Lasso
    </blockquote>

    <h2>Purpose</h2>
    <p>
        We aim to be inclusive to the largest number of contributors, with
        the most varied and diverse backgrounds possible. We are committed to
        providing a friendly, safe, welcoming environment for everyone,
        regardless of gender, sexual orientation, ability, ethnicity,
        socioeconomic status, religion.
    </p>
    <p>
        We want to do considerably better than the average group of
        software-industry people in creating a very safe space. We especially
        want to cater to the needs of people that are members of
        software-industry minorities.
    </p>
    <p>
        We want to adopt a collective approach to create a safe and comfortable
        environment for everyone. Let’s all assume an active role to
        helping foster this.
    </p>

    <h2>OK behaviour</h2>
    <p>Let’s:</p>
    <ul>
        <li>Participate in an honest and authentic way.</li>
        <li>Exercise consideration and respect in our speech and actions.</li>
        <li>Attempt collaboration before conflict.</li>
        <li>Refrain from demeaning, discriminatory, or harassing behaviour and speech.</li>
        <li>Be mindful of surroundings and of fellow participants.</li>
        <li>Alert fellow community members if you notice someone in distress.</li>
    </ul>

    <h2>Not OK behaviour</h2>
    <p>
        Not OK behaviours includes intimidating, harassing, abusive,
        discriminatory, derogatory, demeaning speech or actions by any
        participant, regardless of their popularity and prominence.
    </p>

    <h2>Sanctions</h2>
    <p>
        Not OK behaviour from any community member is absolutely not
        acceptable and will not be tolerated. Anyone asked to stop not OK
        behaviour is expected to comply immediately.
    </p>

    <h2>Let us know</h2>
    <p>
        If you are subject to or witness unacceptable behaviour, or have any
        other concerns, please notify someone else as soon as possible, even
        if you are not sure about the acceptability/unacceptibility of the
        behaviour. One can find a list of community members to contact at the
        bottom of this page.
    </p>
    <p>
        Even if there is behaviour not outlined as unacceptable by this text,
        yet it causes uncomfortableness, please let other community members
        know.
    </p>
    <p>
        We take this part very seriously while at the same time we want to
        act with kindness and understanding for all community members.
    </p>

    <h2>Scope</h2>
    <p>
        We expect all community participants to abide by this Code of Conduct
        in all community venues—online and in-person—as well as in all
        one-on-one communications pertaining to community business.
    </p>

    <h2>Thanks</h2>
    <p>
        We want to thank the authors of the
        <a href="https://berlincodeofconduct.org/">Berlin Code of Conduct</a>
        and the <a href="https://pdxruby.org/CONDUCT">Portland Ruby Brigade</a>,
        who helped us refine this text.
    </p>

    <h2>Contact List</h2>
    <ul>
        <li>
            Theodore Keloglou
            / <a href="https://twitter.com/sirodoht">@sirodoht</a>
            / <a href="mailto:zf+urgent@sirodoht.com">zf@sirodoht.com</a>
            / <a href="https://t.me/sirodoht">t.me/sirodoht</a>
        </li>
    </ul>
</article>
{% endblock %}
