{% extends 'main/layout.html' %}

{% block content %}
<article>
    <h1>Code of Conduct</h1>

    <blockquote>
        Adapted from the
        <a href="https://berlincodeofconduct.org/">Berlin Code of Conduct</a>
    </blockquote>

    <h2>Purpose</h2>
    <p>
        We aim to be inclusive to the largest number of contributors, with
        the most varied and diverse backgrounds possible. As such, we are
        committed to providing a friendly, safe and welcoming environment
        for all, regardless of gender, sexual orientation, ability, ethnicity,
        socioeconomic status, or religion (or lack thereof).
    </p>
    <p>
        This Code of Conduct outlines our expectations for all those who
        participate in our community, as well as the consequences for
        unacceptable behavior.
    </p>
    <p>
        We invite all those who participate in our events to help us create
        safe and positive experiences for everyone.
    </p>

    <h2>OK Behavior</h2>
    <ul>
        <li>
            Participate in an authentic and active way. In doing so, you
            contribute to the health and longevity of this community.
        </li>
        <li>Exercise consideration and respect in your speech and actions.</li>
        <li>Attempt collaboration before conflict.</li>
        <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
        <li>
            Be mindful of your surroundings and of your fellow participants.
            Alert community organisers if you notice a dangerous situation,
            someone in distress, or violations of this Code of Conduct, even
            if they seem inconsequential.
        </li>
    </ul>

    <h2>Not OK Behavior</h2>
    <p>
        Unacceptable behaviors include: intimidating, harassing, abusive,
        discriminatory, derogatory or demeaning speech or actions by any
        participant in our community online, at all related events and in
        one-on-one communications carried out in the context of community
        business. Community event venues may be shared with members of the
        public; please be respectful to all patrons of these locations.
    </p>

    <p>
        Harassment includes: harmful or prejudicial verbal or written
        comments related to gender, sexual orientation, race, religion,
        disability; inappropriate use of nudity and/or sexual images
        (including presentation slides); inappropriate depictions of violence
        (including presentation slides); deliberate intimidation, stalking or
        following; harassing photography or recording; sustained disruption
        of talks or other events; inappropriate physical contact, and
        unwelcome sexual attention.
    </p>

    <h2>Sanctions</h2>
    <p>
        Unacceptable behavior from any community member, including those with
        decision-making authority, will not be tolerated. Anyone asked to stop
        unacceptable behavior is expected to comply immediately.
    </p>
    <p>
        If a community member engages in unacceptable behavior, the community
        organisers may take any action they deem appropriate, up to and
        including a temporary ban or permanent expulsion from the community
        without warning.
    </p>

    <h2>Let us know</h2>
    <p>
        If you are subject to or witness unacceptable behavior, or have any
        other concerns, please notify a community organiser as soon as possible.
        You can find a list of organisers to contact for each of the supporters
        of this code of conduct at the bottom of this page.
    </p>

    <h2>Meta-complaints</h2>
    <p>
        If you feel you have been falsely or unfairly accused of violating
        this Code of Conduct, you should notify one of the event organisers
        with a concise description of your grievance. Your grievance will be
        handled in accordance with our existing governing policies.
    </p>

    <h2>Scope</h2>
    <p>
        We expect all community participants to abide by this Code of Conduct
        in all community venues—online and in-person—as well as in all
        one-on-one communications pertaining to community business.
    </p>

    <h2>Contact List of Organisers</h2>
    <ul>
        <li>
            Theodore Keloglou
            / <a href="https://twitter.com/sirodoht">@sirodoht</a>
            / <a href="mailto:zf+urgent@sirodoht.com">zf@sirodoht.com</a>
            / <a href="https://t.me/sirodoht">t.me/sirodoht</a>
        </li>
    </ul>
</article>
{% endblock %}
