{% extends 'main/layout.html' %}

{% block content %}
<article>
    <h1>Code of Conduct</h1>

    <p>
        We aim to be inclusive to the largest number of contributors, with
        the most varied and diverse backgrounds possible. We are committed to
        providing a friendly, safe, welcoming environment for everyone,
        regardless of gender, sexual orientation, ability, ethnicity,
        socioeconomic status, religion, age.
    </p>
    <p>
        We want to do considerably better than the average group of
        software-industry people in creating a very friendly space. We
        especially want to cater to the needs of people that are members of
        software-industry minorities.
    </p>
    <p>
        We aim to create a safe space in terms of it being completely free of
        bias and prejudice, however, we want to be open to radical ideas and
        different cultures.
    </p>
    <p>
        We want to adopt a collective approach to create a safe and comfortable
        environment for everyone. Let’s all assume an active role to help
        foster this.
    </p>

    <h2>OK behaviour</h2>
    <p>Let’s:</p>
    <ul>
        <li>Participate honestly.</li>
        <li>Be considerate in our discussions.</li>
        <li>Attempt synthesis instead of conflict.</li>
        <li>Be mindful of surroundings and of fellow participants.</li>
        <li>Attempt to help if we notice someone struggling.</li>
        <li>Alert fellow community members if we notice someone in distress.</li>
    </ul>

    <h2>Not OK behaviour</h2>
    <p>
        Not OK behaviours includes intimidating, harassing, abusive,
        discriminatory, derogatory, demeaning speech or actions by any
        participant, regardless of their popularity and prominence.
    </p>
    <p>
        We do not welcome semi-unfriendly responses and social cues.
        For example, it’s quite an uncomfortable feeling that one experiences
        when they ask something along the lines of “what is X” or “who is Y”
        and someone else responds with “What?! I can’t believe you don’t know
        what X is!” or "Wow! You don’t know who Y is?!”. Let’s all refrain
        from these. Asking about things one does not know is something we want
        to enable and augment as much as possible—not the opposite.
    </p>
    <p>
        Not OK behaviour is absolutely not acceptable and will not be tolerated.
        Anyone asked to stop not OK behaviour is expected to comply immediately.
    </p>

    <h2>Notify and/or Act</h2>
    <p>
        If you are subject to or witness unacceptable behaviour we have an
        <a href="#incident-response">Incident response</a>
        process that one can follow. One can also notify someone else, even if
        not sure of the acceptability or unacceptibility of the behaviour. We
        have a list of community members to contact at the
        <a href="#contact-list">bottom of this page</a>.
    </p>
    <p>
        Even if there is behaviour not outlined as unacceptable by this text,
        yet it causes uncomfortableness, please do follow the above.
    </p>
    <p>
        We take this part very seriously while at the same time we want to
        act with kindness and understanding for all community members.
    </p>

    <h2>Scope</h2>
    <p>
        We expect all community participants to abide by this Code of Conduct
        in all community venues—online and in-person—as well as in all
        one-on-one communications pertaining to community business.
    </p>

    <h2 id="incident-response">Incident response</h2>
    <p>
        We have a strict
        <a href="{% url 'coc' %}">Code of Conduct</a>
        to create an open space where everybody feels welcomed. However, if
        there is someone not following our Code of Conduct, it might be hard
        to identify and respond to it. We recommend:
    </p>
    <ol>
        <li>
            Take some space. We recommend to first create some distance between
            you and the person who’s engaging at potentially unacceptable
            behaviour. This will hopefully help one see the incident more clearly.
        </li>
        <li>
            Notify someone else. Hopefully there is someone in this event you
            find trustworthy. Share your concern with them, see what they think.
        </li>
        <li>
            Identify the issue. It’s a good idea to acquire a clear understanding
            of the problematic behavior so that it can be communicated
            clearly and effectively.
        </li>
        <li>
            Assess response. Various levels of response are valid. In addition
            to one’s current actions, it’s worth taking into consideration past
            actions as well as their response. Did they become aware of their
            problematic behaviour? Have they repeatedly ignored signs of their
            behaviour causing stress? Has anyone talked to them about this
            before?
        </li>
        <li>
            Act. This can be either talking to them direcly, talking to someone
            else, or even bringing the problem forward as a group discussion.
            Eventually, the community can decide how to handle the matter
            together.
        </li>
    </ol>
    <p>
        The above lack strict structure as well as defined outcomes. We are
        a small community and, as we learn more, we can make this process
        more detailed.
    </p>

    <h2>Handling disagreements</h2>
    <p>
        Inevitably, there will be disagreements. How we handle them is one more
        indication of our skills and the quality of our community. We don’t
        want to have rigid rules for such matters, so two points to follow are:
    </p>
    <ul>
        <li>
            Let’s try that our solutions include everyone’s needs. This is in
            contrast to assuming everyone will fend for themselves.
        </li>
        <li>
            Chaitin School wants to be a space that will allow something
            different to exist. With this in mind, let’s try to reconcile
            differences in a way that multiple ideas can flourish.
        </li>
    </ul>

    <h2>Past Incidents</h2>
    <p>
        We keep a log of past incidents along with our response to them:
    </p>
    <ul>
        {% for incident in incident_list %}
        <li>
            [<a href="{% url 'incident_detail' incident.id %}">{{ incident.happened_at }}</a>]
        </li>
        {% empty %}
        <li>
            <em>(empty)</em>
        </li>
        {% endfor %}
    </ul>

    <h2>Thanks</h2>
    <p>
        We want to thank the authors of the
        <a href="https://berlincodeofconduct.org/">Berlin Code of Conduct</a>
        and the <a href="https://pdxruby.org/CONDUCT">Portland Ruby Brigade</a>
        and the
        <a href="https://www.recurse.com/code-of-conduct">Recurse Center Code of Conduct</a>,
        who indirectly helped us define this text.
    </p>

    <h2 id="contact-list">Contact list</h2>
    <ul>
        <li>
            Theodore Keloglou
            / <a href="https://t.me/sirodoht">Telegram</a>
            / <a href="mailto:zf+urgent@sirodoht.com">zf@sirodoht.com</a>
        </li>
    </ul>
</article>
{% endblock %}
