{% extends 'main/layout.html' %}

{% block title %}Funding — Chaitin School{% endblock %}

{% block content %}
<article>
    {% include "partials/philosophy_nav.html" %}

    <h1>Funding</h1>

    <blockquote>
        <em>
            Forfeit the game
            <br>Before somebody else
            <br>Takes you outta the frame
            <br>And puts your name to shame
            <br>Cover up your face
            <br>You can’t run the race
            <br>The pace is too fast
            <br>You just won’t last
        </em>
        <br> — Linkin Park
    </blockquote>

    <h2>Denial</h2>
    <p>
        Chaitin School as an organisation is not interested in acquiring money.
    </p>

    <p>
        Looking for funding, as well as managing money are very distracting
        processes, which will cause us to stop focusing on the essence of
        what we really want to do here: learn computer science and software
        engineering.
    </p>

    <h2>Gift economy</h2>
    <p>
        Contradictorily, we continue to desire material assets. This leaves the
        only way of receiving them to be as gifts.
    </p>
    <p>
        We would be very happy if someone (member or non-member) would
        take over both the cost as well as <em>the decision of what to
        buy</em>—and subsequently gift us the fruits of their trouble.
    </p>
    <p>
        Some of this is already happening. Our friends who own and
        operate buildings and venues provide us with space. People who
        attend the events buy snacks and drinks for attendees to enjoy.
    </p>
</article>
{% endblock %}
