{% extends 'main/layout.html' %}

{% block content %}
<article>
    <p>
        We are an in-person group of people interested in software engineering as a
        fun activity of leisure time as well as a craft to become skilled at.
    </p>
    <p>
        Programming is a fun skill we want to become better at. We value
        learning together rather than alone. We are a school because the
        etymological definition of school is “leisure time”. We are a
        school that is:
    </p>
    <ul>
        <li>not only for beginners</li>
        <li>not online</li>
        <li>not based on a teacher-student model</li>
        <li>not transaction-based</li>
    </ul>
</article>

<p>
    <em>
        One of the symptoms of an approaching nervous breakdown is the
        belief that one’s work is terribly important.
    </em>
    <br> — Bertrand Russell
</p>

<article>
    <strong>Philosophy</strong>
    <p>
        school &lt; from Ancient Greek σχολεῖον (skholeîon), from σχολή
        (skholḗ, “spare time, leisure”, later, “conversations and the
        knowledge gained through them during free time; the places
        where these conversations took place”) —
        <small>
            (from <a href="https://en.wiktionary.org/wiki/school#Etymology_2">Wiktionary</a>)
        </small>
    </p>
    <p>
        School used to mean leisure; then it came to be the things
        one gained when on leisure. Now it means death.
    </p>
    <p>
        Let’s reclaim it.
    </p>
    <p>
        The goal of Chaitin School is to create space, in both spatial and
        temporal dimensions. Space for people to explore
        ideas, to make experiments and to fail; to make jokes, to participate,
        and to meet new friends and networks.
    </p>
    <p>
        Chaitin School is not interested in acquiring money.
        Managing money is a very distracting process,
        which would cause us to stop focusing on the essence of what we really
        want to do here: learn computer science and software engineering. 
        Paradoxically, we desire material assets, which makes the only way of
        receiving them to be as gifts.
    </p>
</article>

<article>
    <strong id="values">Values</strong>
    <p>
        Inclusivity. We aim to be radically inclusive. No fees, no tickets, no
        applications, no acceptance criteria. We welcome everybody who wants to
        take part in our activities. Our only requirement is our
        <a href="{% url 'coc' %}">Code of Conduct</a>,
        which we hope is embraced and welcomed by everyone.
    </p>
    <p>
        Expertise. We view software building both as an engineering discipline
        and as a craft. We value both skill and creativity as things we want to
        develop. Among others, these require practice, intelligence,
        consistency, persistence.
    </p>
    <p>
        Humour. Computers are fun and if they’re not, there is no point
        programming them. The element of amusement is fundamental to our
        approach.
    </p>
    <p>
        Gifting. There are no transactions involved in what we do.
        We gift as much as we feel comfortable. What usually happens is that
        people appreciate it and take up an active role too. But this is
        neither required nor expected.
    </p>
    <p>
        Democracy. Traditional learning institutions have knowledge
        authorities who provide absolution. It’s useful to learn along
        someone experienced that has many answers, however,
        hierarchy means people have to depend on the opinion of one (or a few).
        In contrast, we aim to create a space where knowledge is assessed from
        its content, regardless of where or whom it came from.
    </p>
    <p>
        Exploration. We are interested in the knowledge behind computer science and software
        engineering. Whether some of it has already been discovered is
        irrelevant. We are interested in both kinds—and most times, by thinking
        about
        <a href="https://sites.pitt.edu/~druzdzel/feynman.html">what you already know</a>,
        you discover what you don’t.
    </p>
    <p>
        Community. Only if it is shared is there value to this project.
        Thankfully, there are a lot of people to share it with; it’s hard only
        because it—the community and the projects—are constantly defined
        and redefined.
    </p>
</article>

{% if future_workshop_list %}
<article>
    <strong>
        <a href="{% url 'workshop_list' %}">
            Upcoming Events</a>
        <small>
            (<a href="webcal://{{ canonical_host}}{% url 'workshop_list_ics' %}">ics feed</a>)
        </small>
    </strong>
    <ul>
        {% for w in future_workshop_list %}
        {% include "partials/workshop_item.html" %}
        {% endfor %}
    </ul>
</article>
{% endif %}

{% if past_workshop_list %}
<article>
    <strong>
        <a href="{% url 'workshop_list' %}">
            Past 5 Events</a>
        <small>
            (<a href="{% url 'workshop_list' %}">all events</a>)
        </small>
    </strong>
    <ul>
        {% for w in past_workshop_list %}
        {% include "partials/workshop_item.html" %}
        {% endfor %}
    </ul>
</article>
{% endif %}

<article>
    <strong>Subscribe for event notifications</strong>
    <form method="post" action="{% url 'index' %}">
        <p>
            <label for="email">email:</label>
            <input type="email" id="email" name="email" required>
        </p>

        <p>
            <label for="carlos">I am not a robot:</label>
            <input type="checkbox" name="carlos" id="carlos">
        </p>

        {% csrf_token %}
        <input type="submit" value="submit">
    </form>
    <p>
        or
        <a href="webcal://{{ canonical_host}}{% url 'workshop_list_ics' %}">
            Add to Calendar</a>.
    </p>
    <p>
        Check out our <a href="{% url 'coc' %}">Code of Conduct »</a>
    </p>
</article>

<article>
    <strong>Discord</strong>
    <p>
        <a href="https://discord.gg/bzjKNG4bUU">https://discord.gg/bzjKNG4bUU</a>
    </p>
</article>

{% if request.user.is_authenticated and request.user.is_superuser %}
<article>
    <strong>
        <a href="{% url 'blog' %}">Blog</a>
    </strong>
    | <a href="{% url 'admin:main_post_add' %}">Add new</a>

    <ul>
        {% for post in post_list %}
        <li>
            <a href="{% url 'post' post.slug %}">{{ post }}</a>
            {% if post.published_at %}
            —
            <time datetime="{{ post.published_at|date:'c' }}">
                {{ post.published_at|date:'F j, Y' }}
            </time>
            {% endif %}
            | <a href="{% url 'admin:main_post_change' post.id %}">Edit</a>
        </li>
    {% endfor %}
    </ul>
</article>
{% else %}
<article>
    <strong>Blog</strong>
    <ul>
        {% for post in post_list %}
        {% if post.is_published %}
        <li>
            <a href="{% url 'post' post.slug %}">{{ post }}</a>
            —
            <time datetime="{{ post.published_at|date:'c' }}">
                {{ post.published_at|date:'F j, Y' }}
            </time>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</article>
{% endif %}

<article>
    <strong>FAQ</strong>
    <ul>
        <li>
            What does Chaitin mean?
            <br>
            <a href="https://en.wikipedia.org/wiki/Gregory_Chaitin">Gregory Chaitin</a>
            is a computer scientist—among others—known for his
            <a href="https://en.wikipedia.org/wiki/Chaitin%27s_constant">constant</a>.
        </li>
        <li>
            Can I do whatever I want?
            <br>
            Yes, as long as you follow our
            <a href="{% url 'coc' %}">Code of Conduct</a>.
        </li>
        <li>
            Is this website open source?
            <br>
            Yes, on
            <a href="https://github.com/chaitinschool/chaitinschool.org">GitHub</a>.
        </li>
    </ul>
</article>

<article>
    <strong>Friends</strong>
    <ul>
        <li>
            <a href="https://london.computation.club/">London Computation Club</a>
        </li>
        <li>
            <a href="https://newspeak.house/">Newspeak House</a>
        </li>
        <li>
            <a href="https://space4.tech/">SPACE4</a>
        </li>
    </ul>
</article>
{% endblock %}
