{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Chaitin School of Software Engineering — in-person community in london, uk{% endblock %}</title>
        <style>
            body { font-family: monospace; line-height: 1.5; }
            main { width: 600px; }
        </style>
    </head>
    <body>
        <header>
            <div style="font-family: serif; font-size: 40px;">
                Chaitin School of Software Engineering
            </div>

            <ul role="navigation">
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="{% url 'workshop_list' %}">events</a></li>
                <li><a href="{% url 'projects' %}">projects</a></li>
                <li><a href="{% url 'coc' %}">code of conduct</a></li>

                {% if request.user.is_authenticated and request.user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">admin</a></li>
                {% endif %}
            </ul>
        </header>

        <main>
            {% if messages %}
            <aside>
                {% for message in messages %}
                <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>
                    {{ message|safe }}
                </div>
                {% endfor %}

                {{ form.non_field_errors }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span class="form-error">{{ error|escape }}</span><br>
                    {% endfor %}
                {% endif %}
            </aside>
            {% endif %}

            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
