{% extends 'main/layout.html' %}

{% block content %}
<article>
    <h1>Operations</h1>

    <h2>For Open Source Club:</h2>
    <p>
        Open Source Club is our fortnightly event in which we code on open source
        software.
    </p>
    <p>
        For it to take place these need to happen:
    </p>

    <ul>
        <li>Liaise with venue.</li>
        <li>Arrive earlier to setup space.</li>
        <li>Order pizza.</li>
        <li>Open the door when someone rings.</li>
        <li>Introduce people to the event and space if they are new.</li>
    </ul>
</article>
{% endblock %}
