{% extends 'main/layout.html' %}

{% block title %}Philosophy Overview — Chaitin School{% endblock %}

{% block content %}
<article>
    {% include "partials/philosophy_nav.html" %}

    <h1>Philosophy Overview</h1>

    <blockquote>
        <em>
            Life can only be understood backwards; but it must be lived
            forwards.
        </em>
        <br> — Søren Kierkegaard
    </blockquote>

    <p>
        school &lt; from Ancient Greek σχολεῖον (skholeîon), from σχολή
        (skholḗ, “spare time, leisure”, later, “conversations and the
        knowledge gained through them during free time; the places
        where these conversations took place”) —
        <small>
            (from <a href="https://en.wiktionary.org/wiki/school#Etymology_2">Wiktionary</a>)
        </small>
    </p>
    <p>
        School used to mean leisure; then it came to be the things
        one gained when on leisure. Now it means death.
    </p>
    <p>
        Let’s reclaim it.
    </p>
</article>
{% endblock %}
