{% extends 'main/layout.html' %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{ object.title }} — Chaitin School">
<meta property="og:description" content="{{ object.byline }}">
{% endblock %}

{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ object.title }}</h1>

    <time datetime="{{ object.published_at|date:'Y-m-d' }}" itemprop="datePublished">
        {{ object.published_at|date:'F j, Y' }}
    </time>
    | <a href="{% url 'admin:main_post_change' object.id %}">Edit post</a>

    <div itemprop="articleBody">
        {{ object.body_as_html|safe }}
    </div>
</article>
{% endblock %}
