{% extends 'main/layout.html' %}

{% block title %}{{ object.title }} — Chaitin School Blog{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{ object.title }} — Chaitin School">
<meta property="og:description" content="{{ object.byline }}">
{% endblock %}

{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting" class="blogpost">
    <h1 itemprop="name headline">{{ object.title }}</h1>

    <div class="blogpost-date">
        {% if post.is_published %}
        <time datetime="{{ object.published_at|date:'Y-m-d' }}" itemprop="datePublished">
            {{ object.published_at|date:'F j, Y' }}
        </time>
        {% else %}
        <small style="color: grey; font-family: sans-serif;">NOT PUBLISHED</small>
        {% endif %}

        {% if request.user.is_authenticated and request.user.is_superuser %}
        | <a href="{% url 'admin:main_post_change' object.id %}">Edit post</a>
        {% endif %}
    </div>

    <div itemprop="articleBody">
        {{ object.body_as_html|safe }}
    </div>
</article>
{% endblock %}
