{% extends 'main/layout.html' %}

{% block title %}Processes — Chaitin School{% endblock %}

{% block content %}
<article>
    <h1>Processes</h1>

    <blockquote>
        <em>
            It’s only us and it’s only now and it’s only here.
        </em>
        <br> — Maynard James Keenan
    </blockquote>

    {% include "partials/philosophy_nav.html" %}

    <h2>Becoming a member</h2>
    <p>
        We welcome anyone that wants to be part of our community. Feel free to
        attend our events, join our
        <a href="https://discord.gg/bzjKNG4bUU">group on Discord</a>,
        suggest ideas, take part and/or create initiatives.
    </p>
    <p>
        We operate on a strict
        <a href="{% url 'coc' %}">Code of Conduct</a> to maintain a safe space.
    </p>

    <h2>Starting new projects</h2>
    <p>
        We want to operate in a do-ocratic fashion. Anyone who wants to start
        a new project or initiative, feel free to pitch the idea
        <a href="https://discord.gg/bzjKNG4bUU">on Discord</a>, and then
        implement it!
    </p>

    <h2>Making decisions</h2>
    <p>
        How a community makes decisions is a fundamentally difficult problem.
        Until now, given our small size, we didn’t have to make many. The ones
        we did were easy to make. For example, an event can happen when the
        organiser for it can do it in the first place.
    </p>
    <p>
        As more people take part, more ideas will be on the table and more
        decisions will need to be made. In principle and in practice, we aspire
        to take decisions democratically and consensually.
    </p>

    <h2>Code of Conduct</h2>
    <p>
        In our discipline of software building non-white non-male people are
        being treated in a less than ideal way. We want to do very
        considerably better. 
    </p>
    <p>
        We have a strict
        <a href="{% url 'coc' %}">Code of Conduct</a> that aspires to make
        minorities in tech feel much more comfortable than the average
        meetup/community.
    </p>

    <h2>Holding the keys</h2>
    <p>
        There is no physical space for Chaitin School, to give the keys to.
        However, shared ownership and trust are fundamental to the community
        of the kind we want to have. Thus, sharing admin access to our online
        assets (website, Discord) is standard practice for all members.
    </p>

    <h2>Handling disagreements</h2>
    <p>
        Inevitably, there will be disagreements. How we handle them is another
        indication of our skills. We don’t want to have rigid rules there, so
        two points to follow are:
    </p>
    <ul>
        <li>
            Let’s try our solutions to include everyone’s needs. This is in
            contrast to assuming everyone will fend for themselves.
        </li>
        <li>
            Chaitin School wants to be a space that will allow something
            different to exist. With this in mind, let’s try to reconcile
            differences in a way that allows everybody’s ideas to flourish;
            not just the best ones (ie. the ones that look to be the best with
            the current data).
        </li>
    </ul>

</article>
{% endblock %}
