{% extends 'main/layout.html' %}

{% block title %}Processes — Chaitin School{% endblock %}

{% block content %}
<article>
    <h1>Processes</h1>

    <blockquote>
        <em>
            It’s only us and it’s only now and it’s only here.
        </em>
        <br> — Maynard James Keenan
    </blockquote>

    {% include "partials/processes_nav.html" %}

    <h2>Becoming a member</h2>
    <p>
        We are inclusive of anyone that wants to be part of our community.
        Feel free to attend our events, join our Discord, suggest ideas,
        take part in initiatives.
    </p>

    <h2>Starting new projects</h2>
    <p>
        In terms of starting new projects and initiatives, we operate in a
        do-ocratic manner. Anyone who wants to start something new, feel free.
        If any objection come up, the people responsible will voice them.
    </p>

    <h2>Making decisions</h2>
    <p>
        How a community makes decisions is a fundamentally difficult problem.
        Until now, and given our size, we did’t have to make many. The ones
        we did were easy to make. For example, an event can happen when the
        organiser for it can do it in the first place.
    </p>
    <p>
        As more people take part, more ideas will be on the table, and more
        decisions will need to be made. In principle and in practice, we aspire
        to take decisions democratically and consensually.
    </p>

    <h2>Holding the keys</h2>
    <p>
        There is no physical space for Chaitin School, to give the keys to.
        However, shared ownership and trust are fundamental to the community
        of the kind we want to have. Thus, sharing admin access to our online
        assets (website, Discord) is standard practice for all members.
    </p>

</article>
{% endblock %}
