{% extends 'main/layout.html' %}

{% block title %}Projects — Chaitin School{% endblock %}

{% block content %}
<section id="primarydetails">
    <article>
        <h1>Projects</h1>

        <p>
            This is a partial list of projects that people who attend Chaitin
            School events work on.
        </p>

        <h2>polis</h2>
        <ul>
            <li><a href="https://github.com/compdemocracy/polis">github.com/compdemocracy/polis</a></li>
            <li>JavaScript, React.js, Clojure</li>
            <li>large scale open ended feedback</li>
            <li>Used by: g0v.tw, vTaiwan, gov.uk, England city councils, et al</li>
        </ul>

        <h2>consul</h2>
        <ul>
            <li><a href="https://github.com/consul/consul">github.com/consul/consul</a></li>
            <li>Ruby and Rails</li>
            <li>participatory democracy framework</li>
            <li>developed for the Madrid City government</li>
        </ul>

        <h2>decidim</h2>
        <ul>
            <li><a href="https://github.com/decidim/decidim">github.com/decidim/decidim</a></li>
            <li>Ruby and Rails</li>
            <li>participatory democracy framework</li>
            <li>originally developed for the Barcelona City government</li>
        </ul>

        <h2>wikiciv</h2>
        <ul>
            <li><a href="https://wikiciv.org/">wikiciv.org</a></li>
            <li>MediaWiki</li>
            <li>wiki for building civilization from scratch</li>
        </ul>

        <h2>lakehouse</h2>
        <ul>
            <li><a href="https://github.com/sirodoht/lakehouse">github.com/sirodoht/lakehouse</a></li>
            <li>Go</li>
            <li>docs with real-time collaboration</li>
        </ul>

        <h2>docs.plus</h2>
        <ul>
            <li><a href="https://github.com/docs-plus/docs.plus">github.com/docs-plus/docs.plus</a></li>
            <li>JavaScript</li>
            <li>real-time community collaboration platform</li>
        </ul>

        <h2>meridian</h2>
        <ul>
            <li><a href="https://github.com/sirodoht/meridian/">github.com/sirodoht/meridian/</a></li>
            <li>Go</li>
            <li>PoC decentralised twitter-clone</li>
        </ul>

		<h2>graph_layout, graph_display</h2>
        <ul>
            <li><a href="https://github.com/CicadaCinema/graphs">github.com/CicadaCinema/graphs</a></li>
            <li>Dart, Flutter</li>
            <li>general-purpose graph drawing library</li>
        </ul>

    </article>
</section>
{% endblock %}

{% block sidedetails %}
{% endblock %}
