{% extends 'main/layout.html' %}

{% block title %}Projects — Chaitin School{% endblock %}

{% block content %}
<article>
    <h1>Projects</h1>

    <p>
        This is a partial list of projects that people who attend Chaitin
        School events work on.
    </p>

    <h2>harmonica</h2>
    <ul>
        <li><a href="https://github.com/harmonicabot/harmonica">github.com/harmonicabot/harmonica</a></li>
        <li>Python, Discord</li>
        <li>LLM-powered chatbot for superfast sensemaking and deliberation</li>
    </ul>

    <h2>karrot</h2>
    <ul>
        <li><a href="https://github.com/karrot-dev">github.com/karrot-dev</a></li>
        <li>Python, Django, Vue.js, Docker, Ansible</li>
        <li>
            software that helps grassroots initiatives coordinate face-to-face
            activities on a local, autonomous, and voluntary basis
        </li>
    </ul>

    <h2>shared-futures-space</h2>
    <ul>
        <li><a href="https://github.com/animorphcoop/shared-futures-space">github.com/animorphcoop/shared-futures-space</a></li>
        <li>Python, Django, Docker, htmx, alpine.js</li>
        <li>
            management platform for local communities
        </li>
    </ul>

    <h2>polis</h2>
    <ul>
        <li><a href="https://github.com/compdemocracy/polis">github.com/compdemocracy/polis</a></li>
        <li>JavaScript, React.js, Clojure</li>
        <li>large scale open ended feedback</li>
        <li>used by: g0v.tw, vTaiwan, gov.uk, England city councils, et al</li>
    </ul>

    <h2>polislike</h2>
    <ul>
        <li><a href="https://github.com/Goodheart-Labs/polislike">github.com/Goodheart-Labs/polislike</a></li>
        <li>JavaScript, React.js, Clojure</li>
        <li>alternative UI/UX for polis</li>
        <li>see <a href="https://viewpoints.xyz/">https://viewpoints.xyz/</a></li>
    </ul>

    <h2>consul</h2>
    <ul>
        <li><a href="https://github.com/consul/consul">github.com/consul/consul</a></li>
        <li>Ruby, Ruby on Rails</li>
        <li>participatory democracy framework</li>
        <li>developed for Madrid City government</li>
    </ul>

    <h2>decidim</h2>
    <ul>
        <li><a href="https://github.com/decidim/decidim">github.com/decidim/decidim</a></li>
        <li>Ruby, Ruby on Rails</li>
        <li>participatory democracy framework</li>
        <li>developed for Barcelona City government</li>
    </ul>

    <h2>wikiciv</h2>
    <ul>
        <li><a href="https://wikiciv.org/">wikiciv.org</a></li>
        <li>MediaWiki</li>
        <li>wiki for building civilization from scratch</li>
    </ul>

    <h2>lakehouse</h2>
    <ul>
        <li><a href="https://github.com/sirodoht/lakehouse">github.com/sirodoht/lakehouse</a></li>
        <li>Go</li>
        <li>docs with real-time collaboration</li>
    </ul>

    <h2>docs.plus</h2>
    <ul>
        <li><a href="https://github.com/docs-plus/docs.plus">github.com/docs-plus/docs.plus</a></li>
        <li>JavaScript</li>
        <li>real-time community collaboration platform</li>
    </ul>

    <h2>meridian</h2>
    <ul>
        <li><a href="https://github.com/sirodoht/meridian/">github.com/sirodoht/meridian/</a></li>
        <li>Go</li>
        <li>PoC decentralised twitter-clone</li>
    </ul>

    <h2>graph_layout, graph_display</h2>
    <ul>
        <li><a href="https://github.com/CicadaCinema/graphs">github.com/CicadaCinema/graphs</a></li>
        <li>Dart, Flutter</li>
        <li>general-purpose graph drawing library</li>
    </ul>

    <h2>mataroa.blog</h2>
    <ul>
        <li><a href="https://github.com/mataroa-blog/mataroa">github.com/mataroa-blog/mataroa</a></li>
        <li>Python, Django</li>
        <li>blogging platform</li>
    </ul>

    <h2>nwspk-web</h2>
    <ul>
        <li><a href="https://github.com/nwspk/web">github.com/nwspk/web</a></li>
        <li>Ruby, Ruby on Rails</li>
        <li>event management system</li>
    </ul>

    <h2>design_factory</h2>
    <ul>
        <li><a href="https://github.com/wtpayne/design_factory">github.com/wtpayne/design_factory</a></li>
        <li>Python</li>
    </ul>

    <h2>ockam</h2>
    <ul>
        <li><a href="https://github.com/build-trust/ockam">https://github.com/build-trust/ockam</a></li>
        <li>Rust</li>
        <li>orchestrate end-to-end encryption, mutual authentication, key management, credential management, and authorization policy enforcement</li>
    </ul>
</article>
{% endblock %}
