{% extends 'main/layout.html' %}

{% block content %}
<article>
    <h1>Submit a workshop to present</h1>

    <p>
        Thank you for your interest in presenting a topic!
    </p>
    <p>
        All workshop question except for the title are optional. Do not consider these final; we can
        change anything at any point.
    </p>

    <form method="post" action="{% url 'submit' %}">
        {{ form.as_p }}

        {% csrf_token %}

        <input type="submit" value="submit">
    </form>
</article>
{% endblock %}
