{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ object.displayname }} at Chaitin School{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{ object.displayname }} — Chaitin School">
<meta property="og:description" content="{{ object.full_name|default:object.username }}, member of Chaitin School.">
<meta property="og:image" content="https://chaitinschool.org{% static 'logo.png' %}">
{% endblock %}

{% block content %}
<section>
    <div>
        {% if object == request.user %}
        <a href="{% url 'user_avatar' %}">
            <img src="data:image;base64,{{ object.avatar_base64 }}" width="200px">
        </a>
        {% else %}
        <img src="data:image;base64,{{ object.avatar_base64 }}" width="200px">
        {% endif %}
    </div>

    <h1>
        {{ object.displayname }}
    </h1>

    <div>{{ object.about_as_html|safe }}</div>

    {% if object == request.user %}
    {% if not request.user.avatar_data %}
    <p>
        <a href="{% url 'user_avatar' %}">Add profile picture »</a>
    </p>
    {% endif %}
    <p>
        <a href="{% url 'user_update' %}">Settings »</a>
    </p>
    {% endif %}
</section>
{% endblock %}
