{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ object.displayname }} at Chaitin School{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{ object.displayname }} — Chaitin School">
<meta property="og:description" content="{{ object.full_name|default:object.username }}, member of Chaitin School.">
<meta property="og:image" content="https://chaitinschool.org{% static 'logo.png' %}">
{% endblock meta %}

{% block content %}
<section>
    <h1>
        {{ object.displayname }}
    </h1>

    {% if object == request.user %}
    <p>
        <a href="{% url 'user_update' %}">Update learning plan »</a>
    </p>
    {% endif %}

    <div style="margin-bottom: 4px;"><strong>Learning plan:</strong></div>
    <div>{{ object.plan_as_html|safe|default:"<em>(empty)</em>" }}</div>
</section>
{% endblock content %}
