{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ object.displayname }} — Chaitin School{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{ object.displayname }} — Chaitin School">
<meta property="og:description" content="{{ object.about_as_html|truncatewords:17 }}">
<meta property="og:image" content="https://chaitinschool.org{% static 'logo.png' %}">
{% endblock %}

{% block content %}
<section class="profile">
    {% if object.avatar_data %}
    <div class="profile-grid">
        <a href="{% url 'user_avatar' %}">
            <img src="data:image;base64,{{ object.avatar_base64 }}" class="avatar">
        </a>
        <div class="profile-grid-text">
            <h1>{{ object.displayname }}</h1>
        </div>
    </div>
    {% else %}
    <h1>{{ object.displayname }}</h1>
    {% endif %}

    <h2>{{ object.full_name|default:"About" }}</h2>
    <div>{{ object.about_as_html|safe }}</div>
    <p>
        {{ object.displayname }} is reachable at
        <a href="mailto:{{ object.email }}">{{ object.email }}</a>
    </p>

    {% if object == request.user %}
    <p>
        <a href="{% url 'user_update' %}">Settings »</a>
    </p>
    {% endif %}
</section>
{% endblock %}
