{% extends 'main/layout.html' %}

{% block title %}Values — Chaitin School{% endblock %}

{% block content %}
<article>
    <h1>Values</h1>

    <blockquote>
        <em>
            Cinema is the ultimate pervert art. It doesn’t give you what you
            desire—it tells you how to desire.
        </em>
        <br> — Slavoj Žižek
    </blockquote>

    {% include "partials/philosophy_nav.html" %}

    <h2>Inclusivity</h2>
    <p>
        One of the problematic parts of the current state of universities
        is their exclusivity. Whether it is tuition fees, applications,
        acceptance criteria, location, or passport it is a mechanism that
        prevents people from learning.
    </p>
    <p>
        We stand against this in practice. We welcome everybody who wants to
        take part in our activities.
    </p>
    <p>
        The only caveat is our <a href="{% url 'coc' %}">Code of Conduct</a>,
        which is hopefully appropriate and welcomed by everybody.
    </p>

    <h2>Expertise</h2>
    <p>
        We view software building not only as engineering but also as a craft.
        Crafts are associated with skill. There is also an element of art in
        a craft.
    </p>
    <p>
        We value both skill and creativity. Both are things we want to
        develop. Among others, these require practice, intelligence,
        consistency, and persistence.
    </p>

    <h2>Fun</h2>
    <p>
        We venture into computers because they are fun. This element of
        enjoyment is fundamental to our approach.
    </p>

    <h2>Humour</h2>
    <p>
        <em>Why</em> is something funny? Humour is such a unique quality that
        it’s unexpectedly hard to define. It’s also fundamental to programmers,
        from naming things to April Fool’s jokes.
    </p>
    <p>
        We also don’t want to take ourselves too seriously.
    </p>

    <h2>Gift economy</h2>
    <blockquote>
        <em>
            I watch how the moon sits in the sky in the dark night
            <br>Shining with the light from the sun
            <br>And the sun doesn't give light to the moon assuming
            <br>The moon's gonna owe it one
        </em>
        <br> — Linkin Park
    </blockquote>
    <p>
        There are no transactions involved in what we do. We gift as much as
        we feel comfortable. What usually happens is that people appreciate it
        and gift themselves too. But it’s neither required nor expected.
    </p>

    <h2>No knowledge authorities</h2>
    <p>
        Universities work in a model where people usually depend on a professor
        authority to provide absolution. This is definitely useful (having
        someone with experience on the matter who knows the answers), however
        the innate structural hierarchy of universities means that people are
        constrained by the power of one.
    </p>
    <p>
        The validity of the statement is more evidently confirmed when speaking
        to someone in a higher academic level such as MSc or PhD.
    </p>

    <h2>Discovered and undiscovered knowledge</h2>
    <blockquote>
        <em>
            Men learn while they teach.
        </em>
        <br> — Seneca the Younger
    </blockquote>
    <p>
        We are interested in the knowledge behind computer science and software
        engineering. Whether some of it has already been discoevered is
        irrelevant. We are interested in both kinds—and most times, by thinking
        about what you already know, you discover what you don’t.
    </p>

    <h2>Community</h2>
    <blockquote>
        <em>
            Happiness is only real when shared.
        </em>
        <br> — Jon Krakauer
    </blockquote>
    <p>
        Chaitin School as a project has started as the vision of one. However,
        there is only value to it if it’s shared. That’s one of the hard parts.
        Not because there aren’t many great people to share it with; but only
        because it’s hard to define what <em>it</em> is.
    </p>

</article>
{% endblock %}
