{% extends 'main/layout.html' %}

{% block title %}Values — Chaitin School{% endblock %}

{% block content %}
<article>
    <h1>Values</h1>

    <blockquote>
        <em>
            Cinema is the ultimate pervert art. It doesn’t give you what you
            desire—it tells you how to desire.
        </em>
        <br> — Slavoj Žižek
    </blockquote>

    {% include "partials/philosophy_nav.html" %}

    <h2>Inclusivity</h2>
    <p>
        One of the problematic parts of the current state of schools and
        universities is their exclusivity. Whether it is tuition fees,
        applications, acceptance criteria, location, or passport, it is a
        mechanism that prevents people from learning.
    </p>
    <p>
        We stand against this in practice. We welcome everybody who wants to
        take part in our activities.
    </p>
    <p>
        Our only requirement is our
        <a href="{% url 'coc' %}">Code of Conduct</a>,
        which we hope is embraced and welcomed by everyone.
    </p>

    <h2>Expertise</h2>
    <p>
        We view software building not only as an engineering discipline but
        also as a craft. Crafts are associated with ingredients of art as well
        as skill.
    </p>
    <p>
        We value both skill and creativity as things we want to
        develop. Among others, these require practice, intelligence,
        consistency, persistence.
    </p>

    <h2>Fun</h2>
    <blockquote>
        <em>
            One of the symptoms of an approaching nervous breakdown is the
            belief that one’s work is terribly important.
        </em>
        <br> — Bertrand Russell
    </blockquote>
    <p>
        We venture into computers because we see them as fun. This element of
        amusement is fundamental to our approach.
    </p>
    <p>
        <em>Why</em> is something funny? Humour is such a unique quality that
        it’s unexpectedly hard to define. Programmers value it especially,
        given how we name things as well as our attention to April Fool’s
        jokes.
    </p>

    <h2>Gift economy</h2>
    <blockquote>
        <em>
            I watch how the moon sits in the sky in the dark night
            <br>Shining with the light from the sun
            <br>And the sun doesn't give light to the moon assuming
            <br>The moon's gonna owe it one
        </em>
        <br> — Linkin Park
    </blockquote>
    <p>
        There are no transactions involved in what we do.
        <a href="{% url 'funding' %}">We gift</a> as much as we feel
        comfortable. What usually happens is that people appreciate it and
        take up an active role too. But this is neither required nor expected.
    </p>

    <h2>No formal authorities</h2>
    <p>
        Universities work in a model where people usually depend on a professor
        authority to provide absolution. It is definitely useful to have
        someone with experience on a matter that knows the answers. However,
        the innate structural hierarchy of universities means that people
        have to depend on the opinion of one.
    </p>
    <p>
        In contrast, we want to create a space where people are not forced
        to act based on what one says. Knowledge is assessed from its content,
        regardless of where or whom it came from.
    </p>

    <h2>Discovered and undiscovered knowledge</h2>
    <p>
        We are interested in the knowledge behind computer science and software
        engineering. Whether some of it has already been discovered is
        irrelevant. We are interested in both kinds—and most times, by thinking
        about
        <a href="https://sites.pitt.edu/~druzdzel/feynman.html">what you already know</a>,
        you discover what you don’t.
    </p>

    <h2>Community</h2>
    <blockquote>
        <em>
            Happiness is only real when shared.
        </em>
        <br> — Jon Krakauer
    </blockquote>
    <p>
        Chaitin School as a project started as the vision of one. However,
        there is only value to it if it’s shared. That’s one of the hard parts.
        Thankfully, there are a lot of people to share it with; it’s only
        hard because it—the community and the projects—are constantly defined
        and redefined.
    </p>
</article>
{% endblock %}
