{% extends 'main/layout.html' %}

{% block title %}Vision — Chaitin School{% endblock %}

{% block content %}
<article>
    {% include "partials/philosophy_nav.html" %}

    <h1>Vision</h1>

    <blockquote>
        <em>
            It doesn’t interest me what you do for a living. I want to know
            what you ache for and if you dare to dream of meeting your
            heart’s longing.
        </em>
        <br> — Oriah Mountain Dreamer
    </blockquote>

    <h2>Dreaming of space</h2>
    <p>
        We want to create <em>space</em>.
    </p>

    <p>
        <em>Space</em> is both spatial and temporal—and we (people interested
        in software making) are missing both kinds.
    </p>
    <p>
        There is no physical space (eg. buildings) for people to go and meet
        other people, participate, explore ideas, try experiments and fail,
        make jokes, create networks—all these with the background of
        computer science and software engineering.
    </p>
    <p>
        There is no temporal space (time off livelihood-making) when we can
        go outside our houses and work offices and learn things just for the
        fun of learning—not to be useful. To explore, just out of curiosity,
        and participate in not-profit-generating yet playful activities.
    </p>
    <p>
        Chaitin School wants to be this <em>space</em>, for people to explore
        ideas, to try experiments and fail, to make jokes, to participate, and
        to create new connections and networks.
    </p>
</article>
{% endblock %}
