{% extends 'main/layout.html' %}

{% block title %}Vision — Chaitin School{% endblock %}

{% block content %}
<article>
    <h1>Vision</h1>

    <blockquote>
        <em>
            It doesn’t interest me what you do for a living. I want to know
            what you ache for and if you dare to dream of meeting your
            heart’s longing.
        </em>
        <br> — Oriah Mountain Dreamer
    </blockquote>

    {% include "partials/processes_nav.html" %}

    <p>
        We want to create a <em>space</em> where we can explore computer
        science and software engineering.
    </p>

    <p>
        <em>Space</em> is both spatial and temporal—and we’re missing both
        kinds. Very few empty buildings to house us, very little time (of no
        livelihood-making) to spend in exploring knowledge and talking with
        each other.
    </p>

    <p>
        Chaitin School wants to be this <em>space</em>, for people to explore
        ideas, to try experiments and fail, to make jokes, to participate, and
        to create new connections and networks.
    </p>

</article>
{% endblock %}
