{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
{% if search_param %}
"{{ search_param }}" events & workshops — Chaitin School
{% else %}

{% if upcoming_only %}
Upcoming Events & Workshops — Chaitin School
{% elif past_only %}
Past Events & Workshops — Chaitin School
{% else %}
All Events & Workshops — Chaitin School
{% endif %}

{% endif %}
{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary">
{% if search_param %}
<meta property="og:title" content='"{{ search_param }}" events & workshops — Chaitin School'>
{% else %}
<meta property="og:title" content="All Events & Workshops — Chaitin School">
{% endif %}
<meta property="og:description" content="IRL events on software engineering in London, England">
<meta property="og:image" content="https://chaitinschool.org{% static 'logo.png' %}">
{% endblock %}

{% block content %}
<article>
    <h1>
        {% if upcoming_only %}
        Upcoming
        {% elif past_only %}
        Past
        {% else %}
        {% if not search_param %}
        All
        {% endif %}
        {% endif %}

        {% if search_param %}
        "{{ search_param }}" events & workshops
        {% else %}
        Events & Workshops
        {% endif %}
    </h1>

    <p>
        One can subscibe to the ICS calendar feed
        <a href="webcal://{{ canonical_host }}{% url 'workshop_list_ics' %}">here</a>.
    </p>

    {% if upcoming_only or not upcoming_only and not past_only %}
    {% if future_workshop_list %}
    <a href="{% url 'workshop_list_upcoming' %}" style="color: #000;">
        <strong>Upcoming</strong></a>
    <ul class="events">
        {% for w in future_workshop_list %}
        <li>
            <time datetime="{{ w.scheduled_at|date:'Y-m-d' }}">
                {{ w.scheduled_at|date:'Y-m-d' }}</time>
            <a href="{% url 'workshop' w.slug %}">
                {{ w.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}

    {% if past_only or not upcoming_only and not past_only %}
    <a href="{% url 'workshop_list_past' %}" style="color: #000;">
        <strong>Past</strong></a>
    {% if request.user.is_authenticated and request.user.is_superuser %}
    | <a href="{% url 'admin:main_workshop_add' %}">Add new</a>
    {% endif %}
    <ul class="events">
        {% for w in past_workshop_list %}
        <li>
            <time datetime="{{ w.scheduled_at|date:'Y-m-d' }}">
                {{ w.scheduled_at|date:'Y-m-d' }}</time>
            <a href="{% url 'workshop' w.slug %}">
                {{ w.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if search_param or upcoming_only or past_only %}
    <p style="text-align: center; margin-top: 32px;">
        <a href="{% url 'workshop_list' %}">See all events</a>
    </p>
    {% endif %}
</article>
{% endblock %}
