{% extends 'main/layout.html' %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="Workshop: {{ object.title }} — Chaitin School">
<meta property="og:description" content="We're interested in getting better at building reliable production-grade software.">
{% endblock %}

{% block content %}
<article>
    <h1 style="font-size: 30px; font-weight: 700;">Workshop: {{ object.title }}</h1>

    <div>
        {{ object.body_as_html|safe }}
    </div>

    <strong>Sign up</strong>
    <form method="post" action="{% url 'index' %}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        {% csrf_token %}
        <input type="submit" value="submit">
    </form>

    <strong>Chat</strong>
    <p>
        <a href="https://t.me/joinchat/5HSd1uRcdE5kMGFk">Join</a>
        our Telegram group.
    </p>

</article>
{% endblock %}
