{% extends 'main/layout.html' %}

{% load static %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="Workshop: {{ object.title }} — Chaitin School">
<meta property="og:description" content="{{ object.body|truncatewords:17 }}">
<meta property="og:image" content="https://chaitinschool.org{% static 'logo.png' %}">
{% endblock %}

{% block content %}
<article>
    <h1 style="font-size: 30px; font-weight: 700;">{{ object.title }}</h1>
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <p>
        <a href="{% url 'admin:main_workshop_change' object.id %}">Edit workshop</a>
    </p>
    {% endif %}

    <div>
        {{ object.body_as_html|safe }}
    </div>

    <strong>Sign up for future events</strong>
    <form method="post" action="{% url 'index' %}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        {% csrf_token %}
        <input type="submit" value="submit">
    </form>

    <strong>Chat</strong>
    <p>
        <a href="https://t.me/joinchat/5HSd1uRcdE5kMGFk">Join</a>
        our Telegram group.
    </p>

</article>
{% endblock %}
