{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ workshop.title }} — Chaitin School{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{ workshop.title }} — Chaitin School">
<meta property="og:description" content="{{ workshop.body|truncatewords:17 }}">
<meta property="og:image" content="https://chaitinschool.org{% static 'logo.png' %}">
{% endblock %}

{% block content %}
<article class="workshops-single">
    <h1>{{ workshop.title }}</h1>
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <p>
        <a href="{% url 'admin:main_workshop_change' workshop.id %}">Edit workshop</a>
        {% if workshop.is_future %}
        | <a href="{% url 'announce' workshop.slug %}">Announce</a>
        {% endif %}
    </p>
    {% endif %}

    <div>
        <div class="workshops-datetime">
            {{ workshop.scheduled_at|default:"NOT PUBLISHED" }}
        </div>
    </div>

    <div>
        {{ workshop.body_as_html|safe }}
    </div>

    {% if workshop.is_future %}
    <h2>RSVP</h2>
    <form method="post" action="{% url 'workshop' workshop.slug %}">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="submit">
    </form>
    <p>
        Add to your calendar:
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ workshop.title }} // Chaitin School&dates={{ workshop.scheduled_at|date:"omdHi" }}&details=&location={{ workshop.location_name }}, {{ workshop.location_address }}&sf=true&output=xml" target="_blank">
            Google
        </a>
        / <a href="{% url 'workshop_ics' workshop.slug %}">Apple (ics)</a>
    </p>
    {% endif %}
</article>
{% endblock %}
