BEGIN:VCALENDAR
PRODID:CHAITIN
VERSION:2.0
CALSCALE:GREGORIAN
NAME:Chaitin School Workshops
X-WR-CALNAME:Chaitin School Workshops
BEGIN:VTIMEZONE
TZID:Europe/London
BEGIN:DAYLIGHT
TZOFFSETFROM:+0000
TZOFFSETTO:+0100
TZNAME:BST
DTSTART:19700329T010000
RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0100
TZOFFSETTO:+0000
TZNAME:GMT
DTSTART:19701025T020000
RRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU
END:STANDARD
END:VTIMEZONE
{% for w in workshop_list %}
BEGIN:VEVENT
UID:{{ w.id }}
SUMMARY:{{ w.title }}
DTSTAMP:{{ w.scheduled_at|date:"Ymd\THis" }}
DTSTART;TZID=Europe/London:{{ w.scheduled_at|date:"Ymd\THis" }}
DURATION:PT2H
LOCATION:{{ workshop.location_name }}
DESCRIPTION: {{ w.body }}
STATUS:CONFIRMED
SEQUENCE:{{ w.id }}
END:VEVENT
{% endfor %}
END:VCALENDAR
