{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
    {% if search_param %}
    "{{ search_param }}" events & workshops — Chaitin School
    {% else %}
    All Events & Workshops — Chaitin School
    {% endif %}
{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary">
{% if search_param %}
<meta property="og:title" content='"{{ search_param }}" events & workshops — Chaitin School'>
{% else %}
<meta property="og:title" content="All Events & Workshops — Chaitin School">
{% endif %}
<meta property="og:description" content="IRL events on software engineering in London, England">
<meta property="og:image" content="https://chaitinschool.org{% static 'logo.png' %}">
{% endblock %}

{% block content %}
<article>
    {% if search_param %}
    <h1>"{{ search_param }}" events & workshops</h1>
    {% else %}
    <h1>All Events & Workshops</h1>
    {% endif %}

    <p>
        One can subscibe to the ICS calendar feed
        <a href="webcal://{{ canonical_host}}{% url 'workshop_list_ics' %}">here</a>.
    </p>

    {% if future_workshop_list %}
    <strong>Upcoming</strong>
    <ul class="events">
        {% for w in future_workshop_list %}
        <li>
            <time datetime="{{ w.scheduled_at|date:'Y-m-d' }}">
                {{ w.scheduled_at|date:'Y-m-d' }}</time>
            <a href="{% url 'workshop' w.slug %}">
                {{ w.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <strong>Past</strong>
    <ul class="events">
        {% for w in past_workshop_list %}
        <li>
            <time datetime="{{ w.scheduled_at|date:'Y-m-d' }}">
                {{ w.scheduled_at|date:'Y-m-d' }}</time>
            <a href="{% url 'workshop' w.slug %}">
                {{ w.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% if search_param %}
    <p style="text-align: center; margin-top: 32px;">
        <a href="{% url 'workshop_list' %}">See all events</a>
    </p>
    {% endif %}
</article>
{% endblock %}
