{% if w.is_confirmed %}
<div style="margin: 8px 0;">
    <a href="{% url 'workshop' w.slug %}">
        {{ w.title }}
    </a>
    {% if w.scheduled_at %}
    <div style="padding-left: 24px; color: #777;">
        <time datetime="{{ w.scheduled_at|date:'c' }}">
            {{ w.scheduled_at|date:'Y-m-d D' }}
            {{ w.scheduled_at|date:'g:iA'|lower }}
        </time>
    </div>
    {% endif %}
</div>
{% else %}

{# show unconfirmed workshops to logged in users only #}

{% if request.user.is_authenticated %}
<div style="margin: 8px 0; opacity: 0.6;">
    <a href="{% url 'workshop' w.slug %}">
        {{ w.title }}
        {% if w.scheduled_at %}
        <br>
        <time datetime="{{ w.scheduled_at|date:'c' }}">
            {{ w.scheduled_at|date:'Y-m-d D' }}
            {{ w.scheduled_at|date:'g:iA'|lower }}
        </time>
        {% endif %}
        <span> — NOT CONFIRMED</span>
    </a>
</div>
{% endif %}

{% endif %}
