name: Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install uv
      run: curl -LsSf https://astral.sh/uv/0.9.17/install.sh | sh
    - name: Run Python linting
      run: uv run ruff check
    - name: Run HTML linting
      run: uv run djade main/templates/**/*.html
